<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Spring Security Example</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:action="@{/login/email}">
        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            <th:block th:text="${param.error}"></th:block>
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            您已注销
        </div>
        <h2 class="form-signin-heading">邮件验证码登录</h2>
        <p>
            <label for="username" class="sr-only">Email</label>
            <input type="text" id="username" name="email" class="form-control" placeholder="邮箱" required
                   autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">验证码</label>
            <input type="password" id="password" name="code" class="form-control" placeholder="验证码" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
</body>
</html>